<div class="col-md-4" *ngFor="let book of books">
  <div class="card text-center">
    <div
      class="card-header bg-dark text-white d-flex justify-content-between align-items-center"
    >
      {{ book.title }}
      <button class="btn btn-danger" (click)="deleteBook(book.id)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
    <img class="card-img-top" [src]="book.image" />
    <div class="card-body">
      <p>{{ book.description }}</p>
      <p>Creado el {{ book.created_at | date: "yyyy-MM-dd" }}</p>
      <a [routerLink]="['/books/edit', book.id]" class="btn btn-info btn-block">
        Editar libro
      </a>
    </div>
  </div>
</div>
